<div class="container">
  <h1 class="is-size-3">ตรวจสอบเพลง</h1>
  <h2 class="is-size-4">ผู้เข้าแข่งขัน</h2>
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>เลขประจำตัวนิสิต</th>
        <th>ชื่อ-นามสกุล</th>
        <th>Facebook</th>
        <th>เพลง</th>
        <th>URL เพลง</th>
        <th>เปลี่ยนสถานะ</th>
      </tr>
    </thead>
    <tr *ngFor="let user of checked$ | async">
      <td>{{user.key}}</td>
      <td>{{user.payload.val().profile.title}}{{user.payload.val().profile.fname}} {{user.payload.val().profile.lname}}
        ({{user.payload.val().profile.nname}})</td>
      <td>{{user.payload.val().profile.facebook}}</td>
      <td>{{user.payload.val().selectedSong | admin_song}}</td>
      <td>
        <ng-container *ngIf="!!user.payload.val().songChecked; else notChecked">
          {{ user.payload.val().songUrl }}
        </ng-container>
        <ng-template #notChecked>
          <input type="text" class="input" placeholder="https://drive.google.com/open?id=...." size="200" [formControl]="urlInputs[user.key]">
        </ng-template>
      </td>
      <td>
        <ng-container *ngIf="!!user.payload.val().songChecked; else notCheckedButton">
          <button class="button is-danger" (click)="deleteStatus(user.key)">ลบ URL เพลง</button>
        </ng-container>
        <ng-template #notCheckedButton>
          <button class="button is-primary" (click)="saveStatus(user.key)">บันทึก</button>
        </ng-template>
      </td>
    </tr>
  </table>
</div>
