<div class="container">
  <h1 class="is-size-3">ตรวจสอบเพลง</h1>
  <h2 class="is-size-4">ผู้เข้าแข่งขัน</h2>
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>เลขประจำตัวนิสิต</th>
        <th>ชื่อ-นามสกุล</th>
        <th>Facebook</th>
        <th>เพลง</th>
        <th>สถานะ</th>
        <th>เปลี่ยนสถานะ</th>
      </tr>
    </thead>
    <tr *ngFor="let user of checked$ | async">
      <td>{{user.key}}</td>
      <td>{{user.payload.val().profile.title}}{{user.payload.val().profile.fname}} {{user.payload.val().profile.lname}} ({{user.payload.val().profile.nname}})</td>
      <td>{{user.payload.val().profile.facebook}}</td>
      <td>{{user.payload.val().selectedSong | admin_song}}</td>
      <td [ngClass]="{'is-primary': !!user.payload.val().songChecked}">{{user.payload.val().songChecked | status}}</td>
      <td><button class="button is-primary" (click)="toggleStatus(user.key)">เปลี่ยนสถานะ</button></td>
    </tr>
  </table>
</div>
