<section class="hero is-info is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="title"><i class="fa fa-lock" aria-hidden="true"></i> <ng-container i18n="sign in title|A text to be shown as the title of sign in page@@signInTitle">เข้าสู่ระบบ</ng-container></h1>
          <h2 class="subtitle" i18n="cunet notice|A text to tell users that they need to use CUNET account@@cunetNotice">โปรดใช้บัญชี CUNET ในการเข้าสู่ระบบ</h2>
        </div>
        <div class="column">
          <div class="is-size-3">Please wait...</div>
        </div>
      </div>
    </div>
  </div>
</section>
