<section class="hero is-info is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="title"><i class="fa fa-lock" aria-hidden="true"></i> <ng-container i18n="sign in title|A text to be shown as the title of sign in page@@signInTitle">เข้าสู่ระบบ</ng-container></h1>
          <h2 class="subtitle" i18n="cunet notice|A text to tell users that they need to use CUNET account@@cunetNotice">โปรดใช้บัญชี CUNET ในการเข้าสู่ระบบ</h2>
        </div>
        <div class="column">
          <!-- <form [formGroup]="loginForm" (ngSubmit)="submit()">
            <div class="field is-horizontal">
              <div class="field-label">
                <label class="label" i18n="sign in form - student id label|A text at student id label of sign in form@@signInStudentIdLabel">เลขประจำตัวนิสิต</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input class="input" type="text" formControlName="username" placeholder="รหัสประจำตัวนิสิต 8 หลัก" i18n-placeholder="sign in form - student id placeholder|A text at student id placeholder of sign in form@@signInStudentIdPlaceholder">
                  </div>
                </div>
              </div>
            </div>
            <div class="field is-horizontal">
              <div class="field-label">
                <label class="label" i18n="sign in form - password label|A text at password label of sign in form@@signInPasswordLabel">รหัสผ่าน</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input class="input" type="password" formControlName="password" placeholder="รหัสผ่าน" i18n-placeholder="sign in form - password placeholder|A text at password placeholder of sign in form@@signInPasswordPlaceholder">
                  </div>
                </div>
              </div>
            </div>
            <div class="field is-horizontal">
              <div class="field-label"></div>
              <div class="field-body">
                <div class="field">
                  <div class="control is-expanded">
                    <input type="submit" value="เข้าสู่ระบบ" class="button is-primary is-inverted" [disabled]="disableSubmit || !loginForm.valid" i18n-value="sign in button|A text to be shown on sign in button@@signInButton">
                  </div>
                </div>
              </div>
            </div>
          </form>-->
          <div class="is-size-3">ปิดระบบรับสมัครชั่วคราว ขออภัยในความไม่สะดวก<br>We are currently out of service. We apologise for inconvenience.</div>
        </div>
      </div>
    </div>
  </div>
</section>
