<div class="container">
  <h1 class="is-size-3">หน้าสำหรับผู้ดูแลระบบ</h1>
  <ul>
    <li><a [routerLink]="['slip_check']">ตรวจหลักฐานการโอนเงิน</a></li>
    <li><a [routerLink]="['song_check']">ตรวจสอบเพลง</a></li>
    <li><a [routerLink]="['contestant_list']">รายชื่อผู้เข้าแข่งขัน</a></li>
    <li><a [routerLink]="['set_day_batch']">นำเข้าข้อมูลวันแข่งขันรอบแรก</a></li>
    <li><a [routerLink]="['set_second_round']">กำหนดผู้เข้าแข่งขันรอบที่สอง</a></li>
    <li><a [routerLink]="['live']">ระบบวันจริง</a></li>
  </ul>
</div>
