<p i18n="@@songInstruction">
  คุณสามารถเลือกใช้เพลง Backing Track ของคณะกรรมการ หรือคุณอาจเตรียม Backing Track ของคุณมาใช้ในวันแข่งขัน หรือคุณอาจเล่นดนตรีสดก็ได้<br />
  เพลงที่ใช้แข่งขันต้องมีความยาวไม่เกิน 6 นาที และไม่มีเนื้อหาดูหมิ่น ส่อเสียด หยาบคาย หรือพาดพิงถึงสถาบันพระมหากษัตริย์ การเมือง หรือศาสนา
</p>
<form [formGroup]="songForm" (ngSubmit)="submit()">
  <div class="field">
    <label class="label" i18n="@@songWhichMode">คุณต้องการใช้ Backing Track จากไหน?</label>
    <div class="control">
      <label class="radio">
        <input type="radio" value="standard" formControlName="mode"> <ng-container i18n="@@songModeNormal">ใช้ Backing Track
          ของคณะกรรมการ
        </ng-container>
      </label>
    </div>
    <div class="control">
      <label class="radio">
        <input type="radio" value="custom" formControlName="mode"> <ng-container i18n="@@songModeCustom">ใช้ Backing Track
          ที่เตรียมมาเอง
        </ng-container>
      </label>
    </div>
    <div class="control">
      <label class="radio">
        <input type="radio" value="live" formControlName="mode"> <ng-container i18n="@@songModeLive">ต้องการเล่นดนตรีสด</ng-container>
      </label>
    </div>
  </div>
  <span *ngIf="songForm.get('mode').value === 'standard'; then standard; else notStandard"></span>
  <ng-template #standard>
    <cusc-song-searcher formControlName="song"></cusc-song-searcher>
  </ng-template>
  <ng-template #notStandard>
    <cusc-song-name-input formControlName="song" [mode]="songForm.get('mode').value"></cusc-song-name-input>
  </ng-template>
  <div class="field">
    <div class="control">
      <input type="submit" value="บันทึกข้อมูล" class="button is-primary" [disabled]="disableSubmit || songForm.invalid" i18n-value="@@submit">
    </div>
  </div>
</form>
<div *ngIf="selected$ | async">
  <div *ngIf="currentSelectedSong$ | async as currentSelectedSong">
    <article class="message is-success" style="margin-top: 0.75rem;">
      <div class="message-header">
        <p><strong i18n="@@songNearlyFinish">ใกล้เสร็จแล้ว</strong></p>
      </div>
      <span *ngIf="currentSelectedSong.mode === 'standard'; then mStandard; else mNotStandard"></span>
      <ng-template #mStandard>
        <div class="message-body" i18n="@@songNormalInstruction">
          คุณได้เลือกที่จะใช้เพลง {{currentSelectedSong.song | song}} โดยใช้ Backing Track ของคณะกรรมการ<br> ให้คุณส่งข้อความมาที่
          <a href="https://m.me/cusinging"><i class="fa fa-facebook-official" aria-hidden="true"></i> CU Singing Contest</a>
          พร้อมกับ<strong>แจ้งเลขประจำตัวนิสิตที่ใช้ในการสมัคร</strong> และแจ้งว่าจะขอรับ Backing Track เพลง {{currentSelectedSong.song
          | song}} เพื่อใช้ฝึกซ้อม
        </div>
      </ng-template>
      <ng-template #mNotStandard>
        <span *ngIf="currentSelectedSong.mode === 'custom'; then mCustom; else mLive"></span>
        <ng-template #mCustom>
          <div class="message-body" i18n="@@songCustomInstruction">
            คุณได้เลือกที่จะใช้เพลง {{currentSelectedSong.song | song}} โดยใช้ Backing Track ของคุณเองในการแข่งขัน<br> ให้คุณส่งข้อความมาที่
            <a href="https://m.me/cusinging"><i class="fa fa-facebook-official" aria-hidden="true"></i> CU Singing Contest</a>
            พร้อมกับ<strong>แจ้งเลขประจำตัวนิสิตที่ใช้ในการสมัคร</strong>
            พร้อมแนบไฟล์ Backing Track ที่คุณจะใช้ พร้อมแจ้งรายละเอียดของเพลง (ชื่อเพลง, ศิลปิน) ที่ใช้ในวันแข่งขัน
          </div>
        </ng-template>
        <ng-template #mLive>
          <div class="message-body" i18n="@@songLiveInstruction">
            คุณได้เลือกที่จะใช้เพลง {{currentSelectedSong.song | song}} โดยคุณจะเป็นผู้เล่นดนตรีสด โดย{{currentSelectedSong.song.instrument}}<br> ให้คุณส่งข้อความมาที่
            <a href="https://m.me/cusinging"><i class="fa fa-facebook-official" aria-hidden="true"></i> CU Singing Contest</a>
            พร้อมกับ<strong>แจ้งเลขประจำตัวนิสิตที่ใช้ในการสมัคร</strong>
            พร้อมแจ้งรายละเอียดของเครื่องดนตรีที่จะใช้ และรายละเอียดของเพลง (ชื่อเพลง, ศิลปิน)
          </div>
        </ng-template>
      </ng-template>
    </article>
  </div>
</div>
