<h1 class="is-size-2" i18n="accept title@@acceptTitle">รับทราบระเบียบการแข่งขัน</h1>
<article class="message is-danger">
  <div class="message-header">
    <p><strong i18n="accept notice title@@acceptNoticeTitle">โปรดทราบ</strong></p>
  </div>
  <div class="message-body">
    <ng-container i18n="accept notice body@@acceptNoticeBody">กรุณาอ่านระเบียบการแข่งขันอย่างละเอียด <strong>หากไม่ปฏิบัติตาม คณะกรรมการอาจพิจารณาตัดสิทธิ์การแข่งขัน</strong></ng-container>
  </div>
</article>
<div i18n="accept rule@@acceptRule">
  <p>การแข่งขันร้องเพลงแห่งจุฬาลงกรณ์มหาวิทยาลัย ครั้งที่ 26 ประกอบด้วยการแข่งขัน 3 รอบ ดังนี้</p>
  <ol>
    <li>รอบที่ 1 จัดแข่งขันทั้งสิ้น 5 วัน ระหว่างวันที่ 13-17 พฤศจิกายน 2560 ณ ห้องประชุม เฉลิม พรมมาส อาคาร อปร คณะแพทยศาสตร์ จุฬาลงกรณ์มหาวิทยาลัย โดยจะคัดผู้เข้าแข่งขันวันละ 10 คน รวม 50 คน เข้าแข่งขันในรอบถัดไป</li>
    <li>รอบที่ 2 จัดขึ้นในวันที่ 20 พฤศจิกายน 2560 ณ ห้องประชุม เฉลิม พรมมาส อาคาร อปร คณะแพทยศาสตร์ จุฬาลงกรณ์มหาวิทยาลัย โดยจะคัดผู้เข้าแข่งขันให้เหลือ 10 คน</li>
    <li>รอบชิงชนะเลิศ จัดขึ้นในวันที่ 17 มกราคม 2561 ณ หอประชุมใหญ่ จุฬาลงกรณ์มหาวิทยาลัย</li>
  </ol>
  <p>ผู้สมัคร จะต้องดำเนินการสมัครผ่านทางเว็บไซต์ <a [routerLink]="['/']">https://cusc.docchula.com</a> โดยทำตามขั้นตอนให้ครบถ้วน พร้อมชำระค่าสมัคร 160 บาท และเลือกเพลงที่จะใช้ในการแข่งขันรอบที่ 1 ให้เรียบร้อย ภายในวันที่ 31 ตุลาคม 2560 เวลา 23.59 น. หากเลยกำหนด จะไม่มีสิทธิ์เข้าแข่งขัน ไม่ว่ากรณีใด ๆ</p>
</div>
<div *ngIf="accepted | async; else notAccepted">
  <article class="message is-success">
    <div class="message-header">
      <p><strong i18n="contrats@@congrats">ขอแสดงความยินดี</strong></p>
    </div>
    <div class="message-body" i18n="accept done@@acceptDone">
      คุณได้รับทราบและยอมรับระเบียบการแข่งขันเรียบร้อยแล้ว <a [routerLink]="['../2_profile']">ไปขั้นตอนถัดไป</a>
    </div>
  </article>
</div>
<ng-template #notAccepted>
  <div class="field">
    <div class="control">
      <label class="checkbox">
        <input type="checkbox" [formControl]="acceptBox">
        <ng-container i18n="@@acceptIAccept">ข้าพเจ้ารับทราบและยอมรับระเบียบการแข่งขันข้างต้นนี้แล้ว และพร้อมจะปฏิบัติตาม</ng-container>
        </label>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <button class="button is-primary" (click)="accept()" [disabled]="!acceptBox.value" i18n="@@acceptButton">ยอมรับ</button>
    </div>
  </div>
</ng-template>
