<strong i18n="@@songNameInputPleaseEnterSongDetails">กรุณากรอกรายละเอียดเพลง</strong>
<form [formGroup]="songForm">
  <div *ngIf="mode === 'live'">
    <div class="field">
      <label class="label" i18n="@@instrumentSelectLabel">เครื่องดนตรี</label>
      <div class="control is-expanded">
        <div class="select is-fullwidth">
          <select [formControl]="instrument" (change)="onInstrumentSelectChange($event.target.value)">
            <option value="" disabled selected hidden i18n="@@select">เลือก</option>
            <option *ngFor="let title of stringInstrumentPreset; index as i" [value]="title">{{stringInstrumentPresetShow[i]}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="field" *ngIf="instrument.value === stringOtherInstrument">
      <label class="label" i18n="@@instrumentSpecifyLabel">ระบุเครื่องดนตรี</label>
      <div class="control is-expanded">
        <input class="input" type="text" placeholder="ชื่อ-รายละเอียดเครื่องดนตรี" [formControl]="otherInstrument" i18n-placeholder="@@instrumentOtherPlaceholder" (change)="onInstrumentSpecifyChange($event.target.value)">
      </div>
    </div>
  </div>
  <div class="field">
    <label class="label" i18n="@@songNameInputName">ชื่อเพลง</label>
    <div class="control">
      <input type="text" formControlName="name" class="input" placeholder="ชื่อเพลง" i18n-placeholder="@@songNameInputName">
    </div>
  </div>
  <div class="field">
    <label class="label" i18n="@@songNameInputArtist">ศิลปิน</label>
    <div class="control">
      <input type="text" formControlName="artist" class="input" placeholder="ศิลปิน" i18n-placeholder="@@songNameInputArtist">
    </div>
  </div>
</form>
