<div class="wrapper">
  <div class="container">
    <nav class="navbar">
      <div class="navbar-brand">
        <a class="navbar-item" [routerLink]="['/']">
        CU Singing Contest 25<sup>th</sup>
      </a>

        <div class="navbar-burger" [ngClass]="{'is-active': navOpen}" (click)="toggleNav()">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="navbar-menu" [ngClass]="{'is-active': navOpen}">
        <div class="navbar-start">
          <a class="navbar-item" [routerLink]="['/']">Home</a>
        </div>
        <div class="navbar-end">
          <span *ngIf="authState$ | async as user; then signedIn; else notSignedIn"></span>
          <ng-template #notSignedIn>
            <a class="navbar-item" [routerLink]="['/login']">เข้าสู่ระบบ</a>
          </ng-template>
          <ng-template #signedIn>
            <a class="navbar-item" (click)="signOut()">ออกจากระบบ</a>
          </ng-template>
        </div>
      </div>
    </nav>
  </div>
  <router-outlet></router-outlet>
  <div class="footer-push"></div>
</div>
<div class="footer">
  <div class="container has-text-centered">
    <p>
      สงวนลิขสิทธิ์ 2560 ฝ่ายเทคโนโลยีสารสนเทศ และฝ่ายดนตรีสากล สโมสรนิสิตคณะแพทยศาสตร์ จุฬาลงกรณ์มหาวิทยาลัย
    </p>
  </div>
</div>
