<div class="wrapper">
  <div class="container">
    <nav class="navbar">
      <div class="navbar-brand">
        <a class="navbar-item" [routerLink]="['/']">
        CU Singing Contest 27<sup>th</sup>
      </a>

        <div class="navbar-burger" [ngClass]="{'is-active': navOpen}" (click)="toggleNav()">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="navbar-menu" [ngClass]="{'is-active': navOpen}">
        <div class="navbar-start">
          <a class="navbar-item" [routerLink]="['/']">Home</a>
        </div>
        <div class="navbar-end">
          <a class="navbar-item" [href]="languageLinks[localeId].path">{{languageLinks[localeId].text}}</a>
          <span *ngIf="authState$ | async as user; then signedIn; else notSignedIn"></span>
          <ng-template #notSignedIn>
            <a class="navbar-item" [routerLink]="['/login']" i18n="sign in|A text for sign in button@@signIn">เข้าสู่ระบบ</a>
          </ng-template>
          <ng-template #signedIn>
            <a class="navbar-item" (click)="signOut()" i18n="sign out|A text for sign out button@@signOut">ออกจากระบบ</a>
          </ng-template>
        </div>
      </div>
    </nav>
  </div>
  <router-outlet></router-outlet>
  <div class="footer-push"></div>
</div>
<div class="footer">
  <div class="container has-text-centered">
    <p i18n="copyright|A copyright text at the footer@@copyright">
      ฝ่ายเทคโนโลยีสารสนเทศ และฝ่ายดนตรีสากล สโมสรนิสิตคณะแพทยศาสตร์ จุฬาลงกรณ์มหาวิทยาลัย<br/>
      <a href="https://www.facebook.com/cusinging/" target="_blank">ติดต่อสอบถาม</a>
    </p>
    <small>
      Build {{ appInfo.sha }}; Build time {{ appInfo.builtAt }}
      (<a href="https://github.com/docchula/cu-singing-contest" target="_blank">Source Code</a>)
    </small>
  </div>
</div>
