<p i18n="@@payInstruction">
  ให้ผู้เข้าแข่งขันชำระค่าสมัคร 300 บาท (สามร้อยบาทบาทถ้วน) โดยโอนเงินเข้าบัญชีธนาคารกสิกรไทย ชื่อบัญชี
  <strong>นางสาวภูชิดา กุสสลานุภาพ</strong> เลขที่บัญชี <strong>119-2-62421-1</strong>
</p>
<p i18n="@@paySlipInstruction">
  หลังจากโอนเงินเรียบร้อยแล้ว ให้ทำการอัพโหลดหลักฐานการโอนเงินผ่านทางฟอร์มต่อไปนี้ <strong>ภายในวันที่ 2 ตุลาคม 2565 เวลา 22.00 น.</strong>
</p>
<p i18n="@@paySelectSongAndDay">
  ผู้เข้าแข่งขันจะมีสิทธิ์เลือกวันแข่งขัน และเลือกเพลงหลังจากที่อัพโหลดหลักฐานการโอนเงิน และได้รับการตรวจสอบเรียบร้อย
</p>
<div class="field" *ngIf="(slipStatus$ | async) === null">
  <div class="control">
    <input type="file" class="input" accept="image/*" #uploadFile (change)="selectedFile(uploadFile)">
  </div>
</div>

<div *ngIf="slipUrl$ | async as slipUrl">
  <img [src]="slipUrl" style="max-width: 150px;">
  <p><ng-container i18n="@@payStatus">สถานะการตรวจสอบ:</ng-container> <span *ngIf="slipStatus$ | async; else notChecked" class="has-text-success" i18n="@@payStatusDone">ตรวจสอบเรียบร้อย</span></p>
  <ng-template #notChecked>
    <span class="has-text-danger" i18n="@@payStatusNotDone">ยังไม่ได้รับการตรวจสอบ</span>
  </ng-template>
  <article *ngIf="slipStatus$ | async; else notCheckedArticle" class="message is-success" style="margin-top: 0.75rem;">
    <div class="message-header">
      <p><strong i18n="@@congrats">ขอแสดงความยินดี</strong></p>
    </div>
    <div class="message-body" i18n="@@payNext">
      หลักฐานการโอนเงินของคุณได้รับการตรวจสอบแล้ว <a [routerLink]="['../4_selectDay']">ไปขั้นตอนถัดไป</a>
    </div>
  </article>
  <ng-template #notCheckedArticle>
    <article class="message is-info">
      <div class="message-header">
        <p><strong i18n="@@payWaitTitle">กรุณารอสักครู่</strong></p>
      </div>
      <div class="message-body" i18n="@@payWaitBody">
        คุณได้ทำการ Upload หลักฐานการโอนเงินเรียบร้อยแล้ว<br> กรุณารอเพื่อให้คณะกรรมการตรวจสอบหลักฐานการโอนเงิน หากผ่านไปแล้ว
        24 ชั่วโมง สถานะการตรวจสอบยังไม่เปลี่ยนแปลง ให้ส่งข้อความมาที่ <a href="https://m.me/cusinging"><i class="fa fa-facebook-official" aria-hidden="true"></i> CU Singing Contest</a> พร้อมแจ้งเลขประจำตัวนิสิตที่ใช้ในการสมัคร
      </div>
    </article>
  </ng-template>
</div>
