<p i18n="@@dayInstruction">
  ให้ผู้เข้าแข่งขันแจ้งความประสงค์วันที่ต้องการเข้าแข่งขัน 5 อันดับ โดยสามารถแก้ไขข้อมูลได้จนถึง 15 ตุลาคม 2562 เวลา 23.59 น.<br />
  โปรดทราบว่าผู้เข้าแข่งขันอาจไม่ได้แข่งขันในวันที่เลือกเป็นอันดับแรก หากจำนวนผู้เข้าแข่งขันในวันนั้น ๆ เกินกว่าจำนวนที่สามารถรองรับได้ จึงขอให้ผู้เข้าแข่งขันทุกท่าน กรุณาเข้าสู่ระบบเพื่อตรวจสอบวันแข่งขันของท่านอีกครั้งในวันที่ 19 ตุลาคมนี้
  หากมีข้อสงสัยหรือพบปัญหาใด ๆ สามารถติดต่อได้ทาง Facebook Page "CU Singing Contest"
</p>
<form [formGroup]="daysForm" (ngSubmit)="submit()">
  <div class="field">
    <label class="label" i18n="@@day1">อันดับที่ 1</label>
    <div class="control is-expanded">
      <div class="select is-fullwidth">
        <select formControlName="d1">
          <option value="" disabled selected hidden i18n="@@select">เลือก</option>
          <option [ngValue]="day" *ngFor="let day of days$ | async" [selected]="day.id === ((currentDays$ | async)?.d1)?.id">{{day[daysTextKey]}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="field">
    <label class="label" i18n="@@day2">อันดับที่ 2</label>
    <div class="control is-expanded">
      <div class="select is-fullwidth">
        <select formControlName="d2">
          <option value="" disabled selected hidden i18n="@@select">เลือก</option>
          <option [ngValue]="day" *ngFor="let day of days$ | async" [selected]="day.id === ((currentDays$ | async)?.d2)?.id">{{day[daysTextKey]}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="field">
    <label class="label" i18n="@@day3">อันดับที่ 3</label>
    <div class="control is-expanded">
      <div class="select is-fullwidth">
        <select formControlName="d3">
          <option value="" disabled selected hidden i18n="@@select">เลือก</option>
          <option [ngValue]="day" *ngFor="let day of days$ | async" [selected]="day.id === ((currentDays$ | async)?.d3)?.id">{{day[daysTextKey]}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="field">
    <label class="label" i18n="@@day4">อันดับที่ 4</label>
    <div class="control is-expanded">
      <div class="select is-fullwidth">
        <select formControlName="d4">
          <option value="" disabled selected hidden i18n="@@select">เลือก</option>
          <option [ngValue]="day" *ngFor="let day of days$ | async" [selected]="day.id === ((currentDays$ | async)?.d4)?.id">{{day[daysTextKey]}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="field">
    <label class="label" i18n="@@day5">อันดับที่ 5</label>
    <div class="control is-expanded">
      <div class="select is-fullwidth">
        <select formControlName="d5">
          <option value="" disabled selected hidden i18n="@@select">เลือก</option>
          <option [ngValue]="day" *ngFor="let day of days$ | async" [selected]="day.id === ((currentDays$ | async)?.d5)?.id">{{day[daysTextKey]}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <input type="submit" value="บันทึกข้อมูล" class="button is-primary" [disabled]="disableSubmit || daysForm.invalid">
    </div>
  </div>
</form>
<div *ngIf="daysDone$ | async">
  <article class="message is-success" style="margin-top: 0.75rem;">
    <div class="message-header">
      <p><strong i18n="@@congrats">ขอแสดงความยินดี</strong></p>
    </div>
    <div class="message-body" i18n="@@dayNext">
      คุณได้เลือกวันในการแข่งขันรอบแรกเรียบร้อยแล้ว <a [routerLink]="['../5_selectSong']">ไปขั้นตอนถัดไป</a>
    </div>
  </article>
</div>
