<div class="container">
  <div class="columns">
    <div class="column is-one-quarter">
      <aside class="menu">
        <ul class="menu-list">
          <li><a [routerLinkActive]="'is-active'" [routerLink]="['/main', '1_accept']"><cusc-checkbox [checked]="step1Done | async"></cusc-checkbox> <ng-container i18n="@@dashboardAccept">รับทราบขั้นตอนการสมัคร</ng-container></a></li>
          <li><a [routerLinkActive]="'is-active'" [routerLink]="['/main', '2_profile']"><cusc-checkbox [checked]="step2Done | async"></cusc-checkbox> <ng-container i18n="@@dashboardProfile">กรอกข้อมูลพื้นฐานของผู้สมัคร</ng-container></a></li>
          <li><a [routerLinkActive]="'is-active'" [routerLink]="['/main', '3_pay']"><cusc-checkbox [checked]="step3Done | async"></cusc-checkbox> <ng-container i18n="@@dashboardPay">ชำระเงิน</ng-container></a></li>
          <li><a [routerLinkActive]="'is-active'" [routerLink]="['/main', '4_selectDay']"><cusc-checkbox [checked]="step4Done | async"></cusc-checkbox> <ng-container i18n="@@dashboardDay">เลือกวันที่ต้องการจะมาแข่งขัน</ng-container></a></li>
          <li><a [routerLinkActive]="'is-active'" [routerLink]="['/main', '5_selectSong']"><ng-container i18n="@@dashboardSong">เลือกเพลง</ng-container></a></li>
          <!--<li><a [routerLinkActive]="'is-active'" [routerLink]="['/main', '6_viewDay']"><ng-container i18n="@@dashboardViewDay">ดูวันแข่งขันรอบแรก</ng-container></a></li>-->
        </ul>
      </aside>
    </div>
    <div class="column is-three-quarters">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
