<form [formGroup]="profileForm" (ngSubmit)="submit()">
  <div class="field">
    <label class="label">คำนำหน้าชื่อ</label>
    <cusc-title formControlName="title"></cusc-title>
  </div>
  <div class="field">
    <div class="field-body">
      <div class="field">
        <label class="label">ชื่อ</label>
        <div class="control is-expanded">
          <input type="text" class="input" placeholder="ชื่อ" formControlName="fname">
        </div>
      </div>
      <div class="field">
        <label class="label">นามสกุล</label>
        <div class="control is-expanded">
          <input type="text" class="input" placeholder="นามสกุล" formControlName="lname">
        </div>
      </div>
    </div>
  </div>
  <div class="field">
    <label class="label">ชื่อเล่น</label>
    <div class="control is-expanded">
      <input type="text" class="input" placeholder="ชื่อเล่น" formControlName="nname">
    </div>
  </div>
  <div class="field">
    <label class="label">Email</label>
    <div class="control is-expanded">
      <input type="email" class="input" placeholder="Email" formControlName="email">
    </div>
  </div>
  <div class="field">
    <label class="label">Facebook</label>
    <div class="control is-expanded">
      <input type="text" class="input" placeholder="Facebook" formControlName="facebook">
    </div>
  </div>
  <div class="field">
    <label class="label">หมายเลขโทรศัพท์มือถือ</label>
    <div class="control is-expanded">
      <input type="text" class="input" placeholder="หมายเลขโทรศัพท์มือถือ" formControlName="mobile">
    </div>
    <p class="help">ไม่ต้องใส่ขีด</p>
  </div>
  <div class="field">
    <label class="label">คณะ</label>
    <div class="control is-expanded">
      <div class="select is-fullwidth">
        <select formControlName="faculty">
          <option value="" disabled selected hidden>เลือก</option>
          <option *ngFor="let faculty of faculties$ | async" [ngValue]="faculty" [selected]="faculty.id === (currentFaculty$ | async)?.id">{{faculty.name}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="field">
    <cusc-education-level formControlName="education"></cusc-education-level>
  </div>
  <div class="field">
    <div class="control">
      <input type="submit" value="บันทึกข้อมูล" class="button is-primary" [disabled]="disableSubmit || profileForm.invalid">
    </div>
  </div>
</form>
<div *ngIf="profileDone$ | async">
  <article class="message is-success" style="margin-top: 0.75rem;">
    <div class="message-header">
      <p><strong>ขอแสดงความยินดี</strong></p>
    </div>
    <div class="message-body">
      คุณได้กรอกข้อมูลพื้นฐานเรียบร้อยแล้ว <a [routerLink]="['../3_selectDay']">ไปขั้นตอนถัดไป</a>
    </div>
  </article>
</div>
