<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="title">
            CU Singing Contest 25<sup>th</sup>
          </h1>
          <h2 class="subtitle">
            การแข่งขันร้องเพลงแห่งจุฬาลงกรณ์มหาวิทยาลัย ครั้งที่ 25
          </h2>
        </div>
        <div class="column">
          <ng-container [ngSwitch]="mode$ | async">
            <div *ngSwitchCase="'pre-register'" i18n="pre-registration text|A text to be shown before registration period begins@@preRegistration">ขณะนี้ยังไม่ถึงเวลาสมัครเข้าการแข่งขัน<br>เริ่มรับสมัครวันที่ 1 ตุลาคม 2560 เวลา 10.00 น.</div>
            <div *ngSwitchCase="'post-register'" i18n="post-registration text|A text to be shown after registration period ends@@postRegistration">
              ขณะนี้หมดเวลาสมัครเข้าแข่งขันแล้ว
              <button class="button is-inverted is-outlined is-primary" [routerLink]="['main']">เข้าสู่ระบบ</button>
            </div>
            <ng-template [ngSwitchCase]="'register'">
              <div class="has-text-centered">
                <div i18n="registration text|A text to be shown during registration period@@duringRegistration">เปิดรับสมัครตั้งแต่วันที่ 1 ตุลาคม 2560 - 31 ตุลาคม 2560</div>
                <button class="button is-inverted is-outlined is-primary" [routerLink]="['main']" i18n="registration button text|A text to be shown on the registration button@@registrationButton">สมัครเลย</button>
              </div>
            </ng-template>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</section>
